Repository drewdomi/drewdomi.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: delete vscode files
  .devcontainer/devcontainer.json
  .vscode/launch.json
  .vscode/settings.json
Due: prettier --write

feat: add image builds
  .devcontainer/devcontainer.json
  .dockerignore
  .gitignore
  Caddyfile
  Dockerfile
  astro.config.mjs
  pnpm-lock.yaml
Due: prettier --write

chore: update astro 5.14
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add astrojs/node server
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/About.astro
Due: eslint --fix, prettier --write

chore: use vercel plugin
  .devcontainer/devcontainer.json
  Caddyfile
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add other links
  messages/en.json
  messages/pt-br.json
  src/components/About.astro
  src/components/Contact.astro
  src/components/Footer.astro
Due: eslint --fix, prettier --write

feat: change ionic to react in skills
  public/icons/react.svg
  src/components/Skills.astro
  src/content/projects/en/cruz-vermelha.mdx
  src/content/projects/pt-br/cruz-vermelha.mdx
  src/icons/react.svg
Due: eslint --fix, prettier --write

feat: update details cruz vermelha project
  public/projects/cvalog/certificate.webp
  src/content/projects/en/cruz-vermelha.mdx
  src/content/projects/pt-br/cruz-vermelha.mdx
Due: prettier --write

fix: translate quote cruz vermelha
  src/content/projects/en/cruz-vermelha.mdx
Due: prettier --write

feat: add footer color bar
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  CHANGELOG.md
  messages/en.json
  messages/pt-br.json
  package.json
  src/components/About.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/SideMenu.astro
  src/components/Skills.astro
Due: eslint --fix, prettier --write

chore: update astro and node
  CHANGELOG.md
  messages/en.json
  messages/pt-br.json
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
Due: eslint --fix, prettier --write

feat: add get-cv fixed link instead of gdrive link
  astro.config.mjs
  src/components/About.astro
  src/linking.ts
  src/middleware.ts
  src/pages/[lang]/api/get-cv.ts
  src/pages/api/get-cv.ts
  src/utils/redirect-cv-link.ts
Due: eslint --fix, prettier --write

feat: add vcard
  CHANGELOG.md
  src/pages/api/assets/drewdomi_vcard.vcf
  src/pages/api/vcard.vcf.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: try to avoid import issues
  public/drewdomi.jpg
  src/components/About.astro
  src/pages/api/assets/drewdomi_vcard.vcf
  src/pages/api/vcard.vcf.ts
Due: eslint --fix, prettier --write

feat: convert vCard to v3
  src/pages/api/assets/drewdomi_vcard.vcf
  src/pages/api/vcard.vcf.ts
Due: eslint --fix, prettier --write

feat: add base64 photo on vcard
  public/vcard.vcf
  src/components/Contact.astro
  src/pages/[lang]/api/get-cv.ts
  src/pages/api/assets/drewdomi_vcard.vcf
  src/pages/api/get-cv.ts
  src/pages/api/vcard.ts
  src/pages/api/vcard.vcf.ts
  src/utils/download-vcard.ts
  src/utils/redirect-cv-link.ts
Due: eslint --fix, prettier --write

chore: update astro & astro deps
  .devcontainer/devcontainer.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/content.config.ts
  src/pages/[lang]/projects/[...slug].astro
  src/pages/[lang]/projects/index.astro
Due: eslint --fix, prettier --write

fix: remove tracked .gitignore from inlang project
  project.inlang/.gitignore
Due: none

chore: update all project deps
  .devcontainer/devcontainer.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/About.astro
  src/components/Header.astro
  src/components/LangToggle.astro
  src/components/SideMenu.astro
  src/components/Skills.astro
  src/layouts/Layout.astro
  src/layouts/ProjectPost.astro
  src/linking.ts
Due: eslint --fix, prettier --write

refactor: change * as m for { m }
  .devcontainer/devcontainer.json
  src/components/Contact.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/LangToggle.astro
  src/components/ScrollTopBtn.astro
  src/components/SideMenu.astro
  src/components/Skills.astro
  src/layouts/Layout.astro
  src/layouts/ProjectPost.astro
  src/pages/404.astro
  src/pages/[lang]/projects/index.astro
  src/utils/redirect-cv-link.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: change photo halo
  messages/en.json
  messages/pt-br.json
  package.json
  src/components/About.astro
  src/components/ButtonLink.astro
  src/components/Header.astro
  src/linking.ts
  src/pages/[lang]/projects/[...slug].astro
  src/pages/[lang]/projects/index.astro
  src/pages/api/get-cv.ts
  src/pages/api/resume.ts
  src/utils/confetti.ts
  src/utils/redirect-cv-link.ts
  src/utils/redirect-resume-link.ts
Due: eslint --fix, prettier --write

fix: projects page locale error
  .devcontainer/devcontainer.json
  CHANGELOG.md
  astro.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/ContactLink.astro
  src/components/LangToggle.astro
  src/middleware.ts
  src/pages/[lang]/projects/index.astro
  src/utils/change-lang.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: url lang redirect
  astro.config.mjs
  package.json
  src/components/About.astro
  src/middleware.ts
Due: eslint --fix, prettier --write

feat: temp commit
  .devcontainer/devcontainer.json
  src/components/LangToggle.astro
  src/icons/uk-flag.svg
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{html,css,scss,md,mdx,json,yml,yaml})
