Repository drewdomi/drewdomi.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add license
  .vscode/settings.json
  LICENSE
  README.md
  package.json
  src/components/Contact.astro
  tsconfig.json
Due: eslint --fix, prettier --write

feat: changelog file
  .github/FUNDING.yml
  .husky/pre-commit
  .prettierrc.mjs
  CHANGELOG.md
  README.md
  package.json
  public/card.png
Due: prettier --write

ci: add lint & format to action
  .github/workflows/ci-checks.yml
Due: none

chore: add rxjs
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Layout.astro format on prettier config
  .prettierignore
  .prettierrc.mjs
Due: none

fix: header logo
  src/components/Header.astro
  src/icons/logo3.svg
Due: eslint --fix, prettier --write

feat: linux easter egg
  public/pop_sound.mp3
  src/components/Skills.astro
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

refactor: move confetti to a separate file
  src/components/Footer.astro
  src/icons/logo_old.svg
  src/layouts/Layout.astro
  src/utils/confetti.ts
Due: eslint --fix, prettier --write

refactor: change setTimeout to timer redirect to home
  public/favicon.ico
  src/components/Footer.astro
  src/pages/404.astro
  src/pages/[lang]/projects/[...slug].astro
Due: eslint --fix, prettier --write

refactor: change accessibility improviments
  .prettierrc.mjs
  messages/en.json
  messages/pt-br.json
  public/red_ace_pride.svg
  src/components/About.astro
  src/components/Footer.astro
  src/components/SectionTitle.astro
  src/components/Skills.astro
  src/icons/azure.svg
  src/layouts/Layout.astro
  src/utils/confetti.ts
  src/utils/pop-sound.ts
Due: eslint --fix, prettier --write

fix: ensure 404 redirect to home if url is 404
  .lintstagedrc
  .vscode/settings.json
  package.json
  src/components/Contact.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write

feat: redirect to current language middleware
  src/middleware.ts
Due: eslint --fix, prettier --write

fix: pop/convetti astro transitions bugs
  .vscode/settings.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/pop_sound.mp3
  src/utils/confetti.ts
  src/utils/pop-sound.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: change site desc
  messages/en.json
  messages/pt-br.json
Due: prettier --write

refactor: about page, animation avatar
  .vscode/settings.json
  astro.config.mjs
  messages/en.json
  messages/pt-br.json
  src/components/About.astro
  src/layouts/Layout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

fix: pop sound duplicated
  messages/en.json
  src/components/About.astro
  src/components/Footer.astro
  src/components/SideMenu.astro
  src/utils/pop-sound.ts
Due: eslint --fix, prettier --write

fix: supress messages warning on check and build astro
  package.json
Due: prettier --write

feat: add glitch effect
  .devcontainer/devcontainer.json
  package.json
  pnpm-lock.yaml
  src/components/About.astro
  src/utils/glitch.ts
Due: eslint --fix, prettier --write

feat: add more meta tags
  messages/en.json
  messages/pt-br.json
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

feat: scrollTopBtn
  .devcontainer/devcontainer.json
  .gitignore
  .prettierrc.mjs
  .vscode/settings.json
  messages/en.json
  messages/pt-br.json
  package.json
  pnpm-lock.yaml
  src/components/About.astro
  src/components/ButtonLink.astro
  src/components/Contact.astro
  src/components/ContactLink.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/ScrollTopBtn.astro
  src/components/SectionTitle.astro
  src/components/SideMenu.astro
  src/components/Skills.astro
  src/components/projects/CardPost.astro
  src/content/config.ts
  src/content/projects/en/cruz-vermelha.mdx
  src/content/projects/pt-br/cruz-vermelha.mdx
  src/layouts/Layout.astro
  src/layouts/ProjectPost.astro
  src/pages/[lang]/projects/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

feat: change cvp details
  .devcontainer/devcontainer.json
  .husky/pre-commit
  .vscode/extensions.json
  messages/en.json
  messages/pt-br.json
  package.json
  pnpm-lock.yaml
  src/components/About.astro
  src/components/Contact.astro
  src/components/Footer.astro
  src/components/SectionTitle.astro
  src/content/config.ts
  src/content/projects/en/cruz-vermelha.mdx
  src/content/projects/en/golembrar.mdx
  src/content/projects/pt-br/cruz-vermelha.mdx
  src/content/projects/pt-br/golembrar.mdx
  src/layouts/Layout.astro
  src/layouts/ProjectPost.astro
  src/styles/global.css
  src/utils/confetti.ts
Due: eslint --fix, prettier --write

fix: devcontainer vscode extensions
  .devcontainer/devcontainer.json
  .prettierrc.mjs
  .vscode/settings.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx,astro}
  prettier --write: (any of: *.{js,ts,tsx,astro}) or (any of: *.{html,css,scss,md,json})
